<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-lg bg-light navbar-default mb-4" role="navigation">

    <a class="navbar-brand mr-5" href="https://wildcodeschool.fr">
        <i class="fas fa-server"></i>
        Quête Odyssey WCS
    </a>
    <ul class="nav navbar-nav">
        <li class="mr-4"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
        
</nav>