<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="jumbotron">
            <h1>Rendu HTML</h1>
            <p>Cette petite page m'a permis de m'exercer à rendre du contenu HTML via Node et les moteurs de modèles.</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
